@media screen and (max-width: 576px) {
    .content{
        width: 90%;
        margin: 0 auto;
    }
    .none{
        display: none;
    }
    .content h3{
        margin-top: 30px;
    }
    .secondary-btn{
        font-size: 13px;
    }
    .button-content{
        margin-top: 20px;
    }
}